/*
    # : id
    . : class
    
    */

    #div1 {
        width: 100%;
    }
    
    /*국내 발생현황*/
    #p1 {
        font-weight: bold;
        font-size: 0.8rem;
        float: left;
        width: 35%;
    }
    
    /*현황들 table*/
    .table1 {
    
        font-size: 0.8rem;
        clear: both;
        border-collapse: collapse;
        border-color: #ccc;
        text-align: center;
        border-bottom: 1px solid #ccc;
        width: 70%;
    }

    td{
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    

    /*날짜*/
    #a1 {
        font-size: 0.8rem;
        width: 40px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        background: #f3f6f7;
        line-height: 1.5;
    }
    
    /*날짜,값 tr*/
    .a1 {
    
        font-size: 0.8rem;
        width: 50px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        background: #f3f6f7;
        line-height: 100%;
    
    }
    
    /*첫줄 td값*/
    .a12 {
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        color: #369;
        border-bottom: 3px solid #036;
    }
    
    /* 2,3번째 td값*/
    td {
        text-align: center;
        border-collapse: collapse;
    }
    
    /*나이 , 연령 상단 글씨 div*/
    #div1 {
        width: 100%;
    }
    
    /*나이 연령 현황*/
    #p2 {
        font-weight: bold;
        font-size: 0.8rem;
        float: left;
        width: 41%;
    }
    
    .a2 {
        font-size: 0.8rem;
        width: 80px;
        padding: 10px;
        font-weight: bold;
        vertical-align: top;
        background: #f3f6f7;
        line-height: 100%;
    
    }
    
    #p3 {
        font-weight: bold;
        font-size: 0.8rem;
        float: left;
        width: 70%;
    }
    
    .highcharts-data-table table,
    .highcharts-figure {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }
    
    #container {
        height: 500px;
        width: 900px;
    }
    
    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #ebebeb;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 700px;
        /*700*/
    }
    
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    
    .highcharts-data-table caption,
    .highcharts-data-table td,
    .highcharts-data-table th {
        padding: 0.5em;
    }
    
    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
    
    